@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
   box-sizing: border-box; /* implementing box model */
}

html{
    font-size: 100%;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

h1{
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
    font-size: 0.9rem;
}

h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

p{
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 15px;
    max-width: 260px;
}

.mainp{
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: hsl(0deg 0% 100% / 50%);
}

.main-img{
    position: relative;
}

.equilib-img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.hover-img{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 70%);
    top: 0;
    width: 100%;
    height: 230px;
    border-radius: 5px;
    opacity: 0;
}

.hover-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
}

.hover-img:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 5px;
}

.eth-time-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

}

.eth{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.eth-img{

}

.clock{
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.clock-img{

}

.clock-text{
    color: hsl(0deg 0% 100% / 50%);
}

.eth-text{
    font-size: 0.8rem;
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

.hr{
    margin-top: 15px;
    border: 0.5px solid rgb(139 172 218 / 20%) ;
}


.profile-section{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-img{
    width: 10%;
}

.profile-text{
    color: hsl(0deg 0% 100% / 50%);
    font-size: 0.8rem;
}

.profile-name{
    color: whitesmoke;
}

.profile-name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


.attribution { color: whitesmoke; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

